.footer {
    padding: 4rem 12rem;
    background-color: $color-dark-gray-3;
    color: $color-light-gray-1;

    @include respond($tab-portrait) {
        padding: 2rem 2rem;
    }

    &__img-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond($tab-portrait) {
            margin-bottom: 4rem;
        }
    }

    &__img {
        width: 12rem;

        @include respond($phone) {
            width: 8rem;
        }
    }
    
    &__navigation,
    &__desc {
        border-top: .1rem solid $color-light-gray-2;
        padding-top: 1rem;
        display: inline-block;

        @include respond($tab-portrait) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;

    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;

            @include respond($tab-portrait) {
                margin-right: 1.5rem;
            }
        }
    }

    &__link {
        
        &:link,
        &:visited {
            color: inherit;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            transition: all .5s;
            color: $color-secondary-light;
        }

        &:hover,
        &:active {
            color: $color-primary;
            transform: rotate(8deg) scale(1.2);
            box-shadow: 0 2rem 5rem rgba($color-black, .3);
        }
    }

    &__desc {
        width: 80%;
        float: right;

        @include respond($tab-portrait) {
            width: 100%;
            float: none;
            text-align: center;
        }
    }
}
