@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900");
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  padding: 3rem;
  color: #777;
  box-sizing: border-box;
}
@media (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

html {
  font-size: 68.75%;
}
@media (max-width: 75em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 87.5%;
  }
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-out;
}
@media (max-width: 56.25em) {
  .heading-primary--main {
    letter-spacing: 1rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}
@media (max-width: 56.25em) {
  .heading-primary--sub {
    letter-spacing: 0.3rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.25rem;
  }
}
.heading-secondary:hover {
  transform: scale(1.1) skewX(5deg) skewY(1deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.25);
}

.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.paragraph {
  font-size: 1.3rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 4rem;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

.u-text-center {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-small {
    margin-bottom: 1rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-large {
    margin-bottom: 4rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-top-small {
    margin-top: 1rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-top-medium {
    margin-top: 2rem !important;
  }
}

.u-margin-top-large {
  margin-top: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-top-large {
    margin-top: 4rem !important;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.composition {
  position: relative;
}
.composition__image {
  width: 55%;
  position: absolute;
  box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .composition__image {
    position: relative;
    float: left;
    width: 33.333%;
    top: 0;
    box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.2);
  }
}
.composition__image--p1 {
  left: 0;
}
@media (max-width: 56.25em) {
  .composition__image--p1 {
    top: 0rem;
    transform: scale(1.1);
  }
}
.composition__image--p2 {
  top: 2rem;
  right: 0;
}
@media (max-width: 56.25em) {
  .composition__image--p2 {
    top: -1rem;
    transform: scale(1.2);
    z-index: 3;
  }
}
.composition__image--p3 {
  top: 10rem;
  left: 20%;
}
@media (max-width: 56.25em) {
  .composition__image--p3 {
    top: 0rem;
    left: 0;
    transform: scale(1.1);
  }
}
.composition__image:hover {
  box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 2;
  transform: scale(1.05) translateY(-0.1rem);
  outline-offset: 1.5rem;
  outline: 1.5rem solid #55c57a;
}
.composition:hover .composition__image:not(:hover) {
  transform: scale(0.9);
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  padding: 1.2rem 3.5rem;
  position: relative;
  transition: all 0.1s;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #28b485;
  color: #fff;
}
.btn--green::after {
  background-color: #28b485;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  animation: moveInBottom 0.4s ease-out 0.75s backwards;
}
.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #55c57a;
  font-size: 1.3rem;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: 0.3rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2.5rem;
  font-size: 1.3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  text-align: center;
  transition: transform 0.2s;
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 0.5rem;
}
.feature-box:hover {
  transform: scale(1.03) translateY(-1rem);
}

.card {
  position: relative;
  height: 42rem;
  width: 100%;
  -moz-perspective: 130rem;
  perspective: 130rem;
  margin: 0 auto;
}
.card__side {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  overflow: hidden;
  transition: all 1s ease-in;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  height: 40%;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url("../img/nat-5.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url("../img/nat-6.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url("../img/nat-7.jpg");
}
.card__heading {
  position: absolute;
  top: 10rem;
  right: 1rem;
  text-align: right;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  width: 50%;
}
.card__heading-span {
  padding: 0.5rem 0.8rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card__details {
  padding: 2rem;
}
.card__details ul {
  list-style: none;
  text-align: center;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  font-size: 1.25rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 0.1rem solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.card__price-box {
  color: #fff;
  margin-bottom: 4rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 3rem;
  font-weight: 100;
}

.story {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2.5rem 6rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  transform: skewX(-10deg);
}
.story > * {
  transform: skewX(10deg);
}
.story__shape {
  float: left;
  width: 12rem;
  height: 12rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  transform: translateX(-2rem) skewX(10deg);
  position: relative;
  overflow: hidden;
}
.story__img {
  height: 100%;
  transform: translateX(-3rem) scale(1.3);
  filter: blur(0rem);
  transition: all 0.5s;
}
.story__caption {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  transition: transform 0.8s;
}
.story:hover .story__img {
  filter: brightness(80%) blur(0.5rem);
  transform: translateX(-3rem) scale(1);
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 60%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.4);
  transition: all 0.6s cubic-bezier(0.79, 0.3, 0.58, 1.3) 0.1s;
}
.modal__left {
  flex: 1;
}
.modal__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 4rem;
}
.modal__close:link, .modal__close:visited {
  position: absolute;
  top: 5%;
  right: 4%;
  color: #555;
  transition: all 0.4s;
  font-size: 3rem;
  text-decoration: none;
  line-height: 1;
}
.modal__close:hover, .modal__close:active {
  transform: scale(1.3);
  color: #55c57a;
}
.modal__img {
  display: block;
  width: 100%;
  height: 50%;
  object-fit: cover;
  box-shadow: 1rem 0 3rem rgba(0, 0, 0, 0.3);
}
.modal__content {
  columns: 2;
  hyphens: auto;
  column-gap: 4rem;
  font-size: 1.1rem;
  column-rule: 0.1rem solid #eee;
}
.modal:target {
  opacity: 1;
  visibility: visible;
}
.modal:target > .modal__body {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.form__field:not(:last-child) {
  margin-bottom: 3rem;
}
.form__input {
  width: 85%;
  font-size: 1.2rem;
  color: inherit;
  font-family: inherit;
  background-color: rbga(#fff, 0.5);
  padding: 1.5rem 2rem;
  border-radius: 0.3rem;
  border: none;
  border-bottom: 0.3rem solid transparent;
  display: block;
  transition: all 0.5s;
}
.form__input::placeholder {
  color: #999;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.3rem solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #ff7730;
}
.form__label {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-left: 2rem;
  display: block;
  transition: all 0.5s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2.5rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  padding-left: 3rem;
  cursor: pointer;
}
.form__radio-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.5rem solid #55c57a;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0;
}
.form__radio-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #55c57a;
  display: block;
  opacity: 0;
  transition: opacity 0.1s;
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.row {
  max-width: 104rem;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .row {
    padding: 0 3rem;
    max-width: 55rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 4rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col] {
  float: left;
}
.row [class^=col]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^=col]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  z-index: 2000;
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__background {
  display: inline-block;
  position: fixed;
  top: 6rem;
  right: 6rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-image: radial-gradient(#55c57a, #28b485);
  z-index: 1000;
  transition: all 0.8s ease-out;
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transform: translate(50%, 0);
  transition: all 0.8s cubic-bezier(0.69, 0.24, 0.53, 1.27);
}
.navigation__list {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}
.navigation__item {
  margin: 2.5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.8s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
.navigation__index {
  margin-right: 0.8rem;
}
.navigation__icon {
  margin-top: 3rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  background-color: #555;
  height: 0.25rem;
  width: 2.8rem;
  display: inline-block;
  position: relative;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  transition: all 0.8s ease-in;
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.7rem;
}
.navigation__icon::after {
  top: 0.7rem;
}
.navigation__button:hover > .navigation__icon::before {
  transform: translateY(-0.1rem);
}
.navigation__button:hover > .navigation__icon::after {
  transform: translateY(0.1rem);
}
.navigation__checkbox:checked + .navigation__button > .navigation__icon {
  height: 0;
}
.navigation__checkbox:checked + .navigation__button > .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button > .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}
.navigation__checkbox:checked ~ .navigation__nav {
  transform: translate(0%, 0%);
  opacity: 1;
  visibility: visible;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  height: 95vh;
  background-position: top;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}

.header__logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer {
  padding: 4rem 12rem;
  background-color: #333;
  color: #f7f7f7;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 2rem 2rem;
  }
}
.footer__img-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .footer__img-box {
    margin-bottom: 4rem;
  }
}
.footer__img {
  width: 12rem;
}
@media (max-width: 37.5em) {
  .footer__img {
    width: 8rem;
  }
}
.footer__navigation, .footer__desc {
  border-top: 0.1rem solid #eee;
  padding-top: 1rem;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .footer__navigation, .footer__desc {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 3rem;
}
@media (max-width: 56.25em) {
  .footer__item:not(:last-child) {
    margin-right: 1.5rem;
  }
}
.footer__link:link, .footer__link:visited {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s;
  color: #ffb900;
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  transform: rotate(8deg) scale(1.2);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
}
.footer__desc {
  width: 80%;
  float: right;
}
@media (max-width: 56.25em) {
  .footer__desc {
    width: 100%;
    float: none;
    text-align: center;
  }
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 20vh 0 15rem 0;
  }
}

.section-features {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("/img/nat-4.jpg");
  background-size: cover;
  padding: 20rem 0;
  margin-top: -9rem;
  transform: skewY(-7deg);
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 15rem 0;
  }
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  padding: 25rem 0 10rem 0;
  margin-top: -7rem;
  background-color: #f7f7f7;
}
@media (max-width: 56.25em) {
  .section-tours {
    padding: 15rem 0 10rem 0;
  }
}

.section-stories {
  padding: 5rem 0 20rem 0;
  position: relative;
}
.section-stories__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  object-fit: cover;
  z-index: -1;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485);
}
@media (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  padding: 5rem;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 0.3rem;
}
.book__form {
  width: 50%;
}

/*# sourceMappingURL=styles.css.map */
